<section>
  <div class="row">
    <a href="/logout">Logout</a>
    <div class="col s12 m8 offset-m2">
      <h1 class="center-align">Waldo 1.0</h1>
      <div class="col s12 m8 offset-m2">
        <div id="chat_container">
        <div class="row">
          <div id="prev"><a id="delete_history" href="#">Delete your chat history</a></div>
          <div id="chat_window">
          </div>
        </div>
        <div class="row">
          <div id="chat_form" class="col s12">
            <%= render partial: 'messages/message_form', locals: {message: @message} %>
            <div id="loader_container">
              <div class="progress" id="chat_loader">
                <div class="indeterminate"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</section>
