<section>
  <div class="row">
    <div class="col s12 m8 offset-m2">
      <h1 class="center-align">Waldo 1.0</h1>
      <div id="chat_container" class="col s12 m8 offset-m2">
        <div class="row">
          <div id="chat_window">

          </div>
        </div>
        <div class="row">
          <div id="chat_form">
            <input id="chat_text" placeholder="Chat to Waldo"></input>
            <!-- <a class="waves-effect waves-light btn" id="submit_chat">Send</a> -->
            <div id="loader_container">
              <div class="progress" id="chat_loader">
                <div class="indeterminate"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
